# Slack
SLACK_CLIENT_ID=
SLACK_CLIENT_SECRET=
SLACK_STATE_SECRET=
SLACK_SIGNING_SECRET=
SLACK_REDIRECT_URI=https://YOUR_DOMAIN/slack/oauth_redirect

# Claude
ANTHROPIC_API_KEY=sk-ant-
ANTHROPIC_MAX_TOKENS=
ANTHROPIC_EFFORT_LEVEL=
ANTHROPIC_MODEL=

# Github
GITHUB_PAT=github_pat_

# Server
PORT=3000
NODE_ENV=development
LOG_LEVEL=debug
